.divPrincipalExperiencia {
    text-align: center;
    margin: auto;
    max-width: 80%;
    box-sizing: border-box;
    padding: 10px;
  }
  
  .título {
    background-color: rgb(52, 46, 46);
    color: rgb(215, 230, 217);
    font-size: 40px;
  }
  
  .párrafo1 {
    background-color: rgb(18, 3, 18);
    font-family: "Poltawski Nowy", serif;
    color: rgb(234, 226, 243);
    font-size: 25px;
  }

  .párrafo2 {
    background-color: rgb(18, 3, 18);
    color: rgb(245, 234, 116);
    font-size: 25px;
  }