   .divPrincipalNav {
    font-family: "Staatliches", cursive;
  }
  
  ul {
    background-color: #1e1e1e;
        padding: 10px 0;
        text-align: center;
        margin: 3px 0;
  }
  
  .link {
    color: rgb(201, 80, 80);
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    transition: color 0.3s ease;
  }

.link:hover {
    color: #b8a5ab;
}
  
  .active {
    font-size: 20px;
    color: rgb(228, 129, 129);
    font-family: "Coda Caption", sans-serif;
  }
  
  @media screen and (max-width: 1030px) {

    ul {
      background-color: #1e1e1e;
          padding: 4px 0;
          text-align: center;
    }
    
    .link {
      color: rgb(201, 80, 80);
      text-decoration: none;
      margin: 0 5px;
      font-size: 10px;
      transition: color 0.3s ease;
    }
    
  }